.button {
  text-decoration:none;
  border-radius: 0.1rem;
  border-width: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: $bg-light;
  height: 40px;
  width: 40px;

  img {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}

.dark {
  background: $bg-dark;
}

.button__add-player {
  display: block;
  margin: auto;
}

.button__icon {
  margin-left: 1rem;
}