.add-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputs-container {
    display: flex;
    flex-direction: row;
  }

  .buttons-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
