
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputs-container {
    display: flex;
    flex-direction: row;
  }

  .buttons-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .player-name {
    font-weight: bold;
    font-size: $font-l-size;
    padding: 0;
    margin-bottom: 1rem;
    word-break: break-all;
  }
  .player-score {
    font-weight: bold;
    font-size: $font-m-size;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
}
