.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  border-radius: 1rem;
  padding: 2rem;
  background: $bg-light;
  color: $text-main-color;
  margin: 2rem;
}

.modal__title {
  word-break: break-all;
}

.modal__body {
  font-size: $font-m-size;
  font-weight: 300;
  margin: 0 0 2rem 0;
  word-break: break-all;
}
